---
title: About
menu: about
locale:
  br:
    title: Sobre
---
  <div id="content">
    <div id="about">
      <h1><%= t('about.title') %></h1>

      <% if @item[:locale] == :en %>
      <p>RubyConf Brazil is the largest Ruby focused conference in South America and it's comparable in size to the top large tech conferences in the continent.</p>
      <div class="images">
        <img src="/images/about/rubyconf2011.png" alt="RubyConf Brazil 2011"/>
        <img src="/images/about/rubyconf2010.jpg" alt="RubyConf Brazil 2010" class="rightSide"/>
      </div>
      <p>It began when <a href="http://www.akitaonrails.com">Fabio Akita (a.k.a. @AkitaOnRails)</a> joined <a href="http://www.locaweb.com">Locaweb</a> in 2008 and together they delivered the <b>Rails Summit Latin America</b> conference. That first event was able to gather more than 550 attendees and bring more than 20 speakers for 2 full days with 2 parallel tracks and real-time translation for the audience to enjoy all the talks they could consume.</p>
      <div class="images">
        <img src="/images/about/railssummit2009.jpg" alt="Rails Summit Latin America 2009"/>
        <img src="/images/about/railssummit2008.jpg" alt="Rails Summit Latin America 2008" class="rightSide"/>
      </div>
      <p>They repeated the success in 2009 with another Rails Summit and in 2010, the Latin America market seemed prepared for a first change, therefore Rails Summit was changed to <b>RubyConf Brazil</b> where more than 700 attendees were able to enjoy an even broader range of talk subjects.</p>
      <p>Several reknowned names in the international Ruby community came to Brazil already such as Chad Fowler, Rich Kilmer, David Chelimsky, Aaron Patterson, Evan Phoenix, Charles Nutter, Yehuda Katz, Jim Weirich, Matt Aimonetti, Obie Fernandez, Glenn Vanderburg, Chris Wanstrath, Ninh Bui, Hongli Lai, Dr. Nic, and others.</p>
      <p>Check out the photos from the latest iterations of the conference at <a href="http://www.flickr.com/search/?q=rubyconf&w=28875295%40N02&ss=2&s=rec" rel="external">Flickr</a>.</p>
      <% else %>

      <p>A RubyConf Brasil é a maior conferência com foco em Ruby da América do Sul e é comparável em tamanho às maiores conferências de tecnologia no continente.</p>
      <div class="images">
        <img src="/images/about/rubyconf2010-audience.jpg" alt="RubyConf Brazil 2010"/>
        <img src="/images/about/rubyconf2010.jpg" alt="RubyConf Brazil 2010" class="rightSide"/>
      </div>
      <p>Ela iniciou quando <a href="http://www.akitaonrails.com">Fabio Akita (@AkitaOnRails)</a> se juntou à <a href="http://www.locaweb.com">Locaweb</a> em 2008 e juntos entregaram a conferência <b>Rails Summit Latin America</b>. Este primeiro evento conseguiu juntar mais de 550 participantes e trouxe mais de 20 palestrantes durante 2 dias inteiros com 2 trilhas paralelas e tradução simultânea para que a platéia pudesse aproveitar o quanto conseguisse consumir.</p>
      <div class="images">
        <img src="/images/about/railssummit2009.jpg" alt="Rails Summit Latin America 2009"/>
        <img src="/images/about/railssummit2008.jpg" alt="Rails Summit Latin America 2008" class="rightSide"/>
      </div>
      <p>Eles repetiram o sucesso em 2009 com outra Rails Summit e, em 2010, o mercado latino americano já parecia preparado para uma primeira mudança, por isso a Rails Summit mudou para <b>RubyConf Brazil</b> onde mais de 700 participantes puderam aproveitar um leque ainda maior de assuntos de palestras.</p>
      <p>Muitos nomes reconhecidos da comunidade internacional de Ruby já vieram ao Brasil, como Chad Fowler, Rich Kilmer, David Chelimsky, Aaron Patterson, Evan Phoenix, Charles Nutter, Yehuda Katz, Jim Weirich, Matt Aimonetti, Obie Fernandez, Glenn Vanderburg, Chris Wanstrath, Ninh Bui, Hongli Lai, Dr. Nic, e outros.</p>
      <p>Cheque algumas das fotos dos últimos eventos no <a href="http://www.flickr.com/search/?q=rubyconf&w=28875295%40N02&ss=2&s=rec" rel="external">Flickr</a>.</p>
      <% end %>

      <p><img src="/images/about/rubyconf.jpg" /></p>

      <a name="2011"></a>
      <div id="media">
        <h1><%= t("media.title") %></h1>

        <% if @item[:locale] == :en %>
        <p>Again in 2011, we were able to deliver another breakthrough conference. More than 750 attendees were able to see 2 full days of 2 parallel tracks with 32 talks, more than 500 people were able to watch online in real time, thanks to Eventials. We had people from all around the world and we appreciate everybody that attended and collaborated to create yet another remarkable event.</p>
        <% else %>
        <p>Novamente em 2011, conseguimos entregar outra conferência inesquecível. Mais de 750 participantes puderam assistir a 2 dias inteiros com 2 sessões paralelas totalizando 32 palestras, mais de 500 pessoas conseguiram assistir online em tempo real, graças à Eventials. Tivemos pessoas de todas as partes do mundo e realmente agradecemos muito a todos que vieram e colaraboraram para criar mais um evento marcante.</p>
        <% end %>

        <div id="videos">
          <iframe width="480" height="270" src="http://www.youtube.com/embed/J_XNBL7GqBA" frameborder="0" allowfullscreen></iframe>

          <iframe width="480" height="270" src="http://www.youtube.com/embed/IJof8-e-5yg" frameborder="0" allowfullscreen></iframe>
        </div>

        <div id="photos">
          <object width="480" height="360"> <param name="flashvars" value="offsite=true&lang=en-us&page_show_url=%2Fphotos%2Flocaweb%2Fsets%2F72157628091808954%2Fshow%2F&page_show_back_url=%2Fphotos%2Flocaweb%2Fsets%2F72157628091808954%2F&set_id=72157628091808954&jump_to="></param> <param name="movie" value="http://www.flickr.com/apps/slideshow/show.swf?v=109615"></param> <param name="allowFullScreen" value="true"></param><embed type="application/x-shockwave-flash" src="http://www.flickr.com/apps/slideshow/show.swf?v=109615" allowFullScreen="true" flashvars="offsite=true&lang=en-us&page_show_url=%2Fphotos%2Flocaweb%2Fsets%2F72157628091808954%2Fshow%2F&page_show_back_url=%2Fphotos%2Flocaweb%2Fsets%2F72157628091808954%2F&set_id=72157628091808954&jump_to=" width="480" height="360"></embed></object>

          <h1><%= t("media.talks") %></h1>
          <p><%= t("media.talks_description") %></p>
          <p><a href="http://www.eventials.com/rubyconfbr" rel="external"><img src="/images/eventials.gif" border="0" alt="Eventials"/></a></p>
        </div>
        <br class="clear"/>

        <%= render '_disqus' %>
      </div>
  </div>
