---
title:
menu: home
---
  <div id="content">
		<div class="overflow_content">
    	<div id="banner">
	      <div class="carousel rubyconf-carousel">
	        <ul>
	          <li><img src="/images/carousel/PA270059.JPG" width="655" height="315" alt="RubyConf" title="<%=t('home.rubyconf_desc')%>"/></li>
	          <li><img src="/images/carousel/PA260017.JPG" width="655" height="315" alt="RubyConf" title="<%=t('home.rubyconf_desc')%>"/></li>
	          <li><img src="/images/carousel/PA260030.JPG" width="655" height="315" alt="RubyConf" title="<%=t('home.rubyconf_desc')%>"/></li>
	        </ul>
	      </div> <!-- end carousel -->
      	<div class="seloImg">
					<div class="img"><img src="/images/selo_<%= item[:locale] %>.png" width="193" height="52" alt="Selo"/></div>
				</div>
    	</div>
    <!-- end banner-->

    	<div id="bannerRight"> <!-- maps & bookmarks -->
	      <div class="seloMap">
					<div class="map">
						<img src="/images/seloMap.png" width="85" height="62" alt="date"/>
					</div>
				</div>
				<!-- end seloMap -->
	      <img src="/images/map.jpg" width="315" height="285" alt="RubyConfMap" />
	      <%= render '_share_buttons', :size => 315, :no_google => true %>

	    </div>
			<!-- end maps/bookmark-->
		</div>
		<!-- end overflow_content -->
  </div>
	<!-- end content -->
	
	
  <div class="clear"></div>
  <div id="content"><!--INICIO CONTENT 2-->
    <div id="whatsup"><!--INICIO WHATSUP-->
      <h1><%= t("home.whatsup") %></h1>
      <% recent_posts.each do |post| %>
        <%= render("_whatsup_summary", :item => post) %>
      <% end %>
    </div><!--FINAL WHATSUP-->
    <div id="hashtag"><!--INICIO TWITTER HASHTAG-->
      <h1><img src="/images/twitterList.jpg" alt="" title="" class=""/>#rubyconf</h1>
      <p>
        <script src="http://widgets.twimg.com/j/2/widget.js"></script>
        <script>
        new TWTR.Widget({
          version: 2,
          type: 'search',
          search: 'rubyconfbr',
          interval: 30000,
          title: 'RubyConf Brasil',
          subject: '2011',
          width: 'auto',
          height: 250,
          theme: {
            shell: {
              background: '#f7f4eb',
              color: '#000000'
            },
            tweets: {
              background: '#ffffff',
              color: '#444444',
              links: '#1985b5'
            }
          },
          features: {
            scrollbar: false,
            loop: true,
            live: true,
            hashtags: true,
            timestamp: true,
            avatars: true,
            toptweets: true,
            behavior: 'default'
          }
        }).render().start();
        </script>
      </p>
    </div> <!--FINAL TWITTER HASHTAG-->
  </div><!--FINAL CONTENT 2-->
