---
title:
menu: home
---
  <div id="content"><!--INICIO CONTENT-->
    <div id="banner">
      <div class="carousel rubyconf-carousel"><!--INICIO BANNER-->
        <ul>
          <li><img src="/images/carousel/PA270059.JPG" /></li>
          <li><img src="/images/carousel/PA260017.JPG" /></li>
          <li><img src="/images/carousel/PA260030.JPG" /></li>
        </ul>
      </div>
    <div class="seloImg"><img src="/images/selo.png" /></div>
    </div>
    <!--FINAL BANNER-->
    <div id="bannerRight"><!--INICIO MAPA + BOOKMARKS-->
      <img src="/images/map.jpg" alt="" title="" />
      <iframe id="websites_iframe" style="background-color: transparent; height: 25px ! important; border: 0px solid gray ! important; overflow: hidden ! important; width: 350px;" allowtransparency="true" src="http://www.linksalpha.com/social?fblshow=1&fblname=like&fbllang=en_US&fstylpbsbutton=0&fbsctr=1&twbutton=1&twlang=en&twctr=1&lnkdshow=noshow&lnkdctr=1&g1button=1&g1lang=en-US&g1ctr=1&buzzbutton=0&buzzlang=en&buzzctr=1&diggbutton=0&diggctr=0&stblbutton=0&stblctr=0&link=http%3A//dev30.linksalpha.com/%3Fp%3D8" frameborder="0" height="25px" scrolling="no" width="450px"></iframe>
      <div class="seloMap"><img src="/images/seloMap.png" /></div>
    </div> <!--FINAL MAPA + BOOKMARKS-->
  </div><!--FINAL CONTENT-->
  <div class="clear"></div>
  <div id="content"><!--INICIO CONTENT 2-->
    <div id="whatsup"><!--INICIO WHATSUP-->
      <h1><%= t("home.whatsup") %></h1>
      <% recent_posts.each do |post| %>
        <%= render("_whatsup_summary", :item => post) %>
      <% end %>
    </div><!--FINAL WHATSUP-->
    <div id="hashtag"><!--INICIO TWITTER HASHTAG-->
      <h1><img src="/images/twitterList.jpg" alt="" title="" class=""/>#rubyconf</h1>
    </div> <!--FINAL TWITTER HASHTAG-->
  </div><!--FINAL CONTENT 2-->
