---
title: Registrated
locale:
  br:
    title: Registrado
---
  <div id="content">
    <div id="about">
      <h1><%= @item[:title] %></h1>
      <% if @item[:locale] == :en %>
      <p>Thanks for your registration, you will be enrolled for RubyConf Brazil 2011 as soon as Paypal emails you
      the payment confirmation. The conference will take place on November 3 and 4. Follow <a href="http://twitter.com/#/rubyconfbr">@rubyconfbr</a> for the latest updates about the conference.</p>
      <% else %>
      <p>Obrigado por se inscrever, você estará registrado para a RubyConf Brasil 2011 assim que o serviço de pagamento
      (Pagamento Digital ou Paypal) lhe enviar o e-mail de confirmação do pagamento. O evento acontecerá nos dias 3 e 4
      de Novembro. Acompanhe o evento pelo Twitter
      em <a href="http://twitter.com/#/rubyconfbr">@rubyconfbr</a> para saber das últimas novidades.</p>
      <% end %>
    </div>
  </div>
