---
title: Registrated
locale:
  br:
    title: Registrado
---
  <div id="content">
    <div id="about">
      <h1><%= @item[:title] %></h1>
      <% if @item[:locale] == :en %>
      <p>Thanks for your registration, you are confirmed for RubyConf Brazil 2011 that will take place on November 3 and 4.
      We will accept your payment in Reais (R$ 200) in the registration desk in the first day of the event. Please check
      out the <a href="/en/schedule.html">Schedule page</a> and come early. Follow <a href="http://twitter.com/#/rubyconfbr">@rubyconfbr</a> for the latest updates about the conference.</p>
      <% else %>
      <p>Obrigado por se inscrever, você estará confirmado para a RubyConf Brasil 2011 assim que o Pagamento Digital
      confirmar a baixa no pagamento. O evento acontecerá nos dias 3 e 4 de Novembro. Acompanhe o evento pelo Twitter
      em <a href="http://twitter.com/#/rubyconfbr">@rubyconfbr</a> para saber das últimas novidades.</p>
      <% end %>
    </div>
  </div>
