---
title: Schedule
menu: schedule
locale:
  br:
    title: Programação
---
<div id="content">
  <div id="schedule">
    <h1>rubyconf 2011 - <%= item[:title] %></h1>
    <!-- img src="/images/donwloadical.jpg" alt="" title="" class="ical"/ -->
    <% @talks = load_talks %>
    <% @talks.each do |day, grid| %>
    <table width="980" cellpadding="0" cellspacing="0">
      <tr class="top">
        <td width="109" class="top">&nbsp;</td>
        <td width="109" class="top"><%= t('talk.time') %></td>
        <td width="370" class="top"><%= t('talk.room_a') %></td>
        <td width="20">&nbsp;</td>
        <td width="370" class="top-end"><%= t('talk.room_b') %></td>
      </tr>
      <% grid.each_index do |index| %>
        <%= render '_talk_row',
            :row => grid[index],
            :total => grid.size,
            :first => (index == 0) %>
      <% end %>
    </table>
    <div class="scheduleSelo"><img src="/images/<%= day %>.png" /></div>
    <% end %>
  </div>
</div>
