---
title: Speakers
menu: speakers
---
  <div id="content">
    <div id="speakersPage">
      <div id="boxLeft">
        <% speakers(:left).each do |speaker| %>
          <%= render '_speaker', :speaker => speaker %>
        <% end %>
      </div>
      <div id="boxRight">
        <% speakers(:right).each do |speaker| %>
          <%= render '_speaker', :speaker => speaker %>
        <% end %>
      </div>
      <br class="clear" />
      <p><%= render '_share_buttons', :size => 980 %></p>
    </div>
  </div>
