* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  color: #333;
  border-top: 4px solid #333;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

img, a img {
  border: none;
} /* img have borders, IE lt 8 */

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

h1 {
  font: 24px Tahoma, Geneva, sans-serif;
  color: #333;
  border-bottom: 3px solid #333;
  text-shadow: 0 -1px 1px #666
}

h1 img {
  position: relative;
  top: 3px;
}

h2 {
  font-size: 12px;
  color: #666;
}

h4 {
  font-size: 15px;
  color: #000;
}

h5 {
  font-size: 15px;
  color: #9F111B;
}

h6 {
  font-size: 23px;
  color: #9F111B;
}

.overflow_content {
  overflow: hidden;
} /* in some cases, this is all you need when dealing with floating elems. ;)*/

.twtr-hd, .twtr-ft img {
  display: none;
}

p.notice {
  font-size: 12px/16px;
  color: #000;
  padding: 0;
}

p, #disqus_thread {
  font-size: 14px/22px;
  color: #333;
  padding: 10px 0 10px 0;
}

#disqus_thread {
  padding: 0;
}

a {
  color: #15C;
}

a img {
  border: none;
}

.clear {
  clear: both;
  display: block;
}

.highlight {
  font-weight: bold;
}

.space {
  width: 10px;
  height: 10px;
}

.finalPage {
  width: 980px;
  height: 50px;
}

.imageList {
  float: left;
}

.seloImg {
  margin-left: -11px;
}

.seloMap {
  margin-left: 180px;
}

.seloImg .img, .seloMap .map {
  position: absolute;
}

.seloMap .map {
  margin-top: -7px;
}

.seloImg .img {
  margin-top: -70px;
}

.mapValue {
  position: relative;
  float: left;
  top: -508px;
  left: 700px;
}

#background {
  background: #F7F4EB;
  width: 100%;
}

#container {
  width: 980px;
  margin: 0 auto;
}

#content {
  width: 980px;
  margin: 10px auto;
  padding-top: 10px;
  text-align: justify;
}

#lenguage {
  width: 60px;
  height: 24px;
  background: #333;
  padding: 3px 0 0 6px;
  float: right;
}

#lenguage ul {
  list-style: none;
}

#lenguage ul li {
  display: inline;
  font-size: 16px;
  color: #fff;
}

#lenguage ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #ccc;
}

#lenguage ul li a.activeLenguage {
  color: #fff;
}

#contHeader {
  overflow: hidden;
}

#contHeader .logo,
#contHeader .speakers,
#contHeader .speakers a {
  float: left;
  height: 155px;
}

#contHeader .logo {
  width: 465px;
}

#contHeader .speakers {
  width: 420px;
}

#contHeader .speakers a {
  margin: 0 0 2px 2px;
  height: 49px;
}

#contHeader .speakers a img {
  width: 49px;
  height: 49px
}

#contHeader .speakers a img:hover {
  opacity: .7;
  filter: alpha(opacity=70);
}

#logo {
  margin-top: 25px;
}

#menu {
  width: 980px;
  height: 40px;
  background: url(img/bgMenu.png) no-repeat;
  padding: 8px 0 0 5px;
}

#menu ul {
  list-style: none;
}

#menu ul li {
  display: inline;
  color: #fff;
}

#menu ul li a {
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  padding: 13px 15px 12px 13px;
}

#menu ul li a:hover,
#menu ul li a.activeMenu {
  background: url(img/bgLink.png) no-repeat;
}

#menu ul li.linkTicket {
  background: url(/images/facebook-button.png) no-repeat 0 50%;
  margin-left: 120px;
}

#menu ul li.linkTicket a {
  padding-left: 30px;
}

#menu ul li.linkTicket a:hover {
  text-decoration: underline;
  background: none;
}

#banner {
  width: 655px;
  height: 315px;
  background: #999;
  float: left;
}

#bannerRight {
  width: 315px;
  height: 315px;
  float: right;
}

#bannerRight img {
  margin-bottom: 10px;
}

#whatsup {
  width: 655px;
  float: left;
}

#whatsup ul {
  list-style: none;
  float: left;
}

#whatsup ul li {
}

#whatsup ul li #date {
  width: 40px;
}

#whatsup ul li #notice {
  width: 610px;
}

#whatsup #whatsLine {
  border-bottom: 1px dotted #666;
  padding: 10px 0;
}

#hashtag {
  width: 315px;
  height: 315px;
  float: right;
}

#sponsors {
  width: 980px;
  float: left;
}

#sponsors a img {
  margin: 10px 7px 15px 0;
}

#sponsors a img.lastImage {
  margin-right: 0;
}

#sponsor ul {
  padding: 5px 0 20px 50px;
}

#sponsor ul li {
  font-size: 14px;
  color: #333;
  padding: 2px 0;
}

#about {
  clear: both;
}

#about .images {
  float: left;
  padding: 0;
  border: 0;
  width: 980px;
  margin: 10px 0 10px 0;
}

#about .images .rightSide {
  float: right;
}

#speakersPage #boxLeft {
  width: 470px;
  float: left;
}

#speakersPage #boxRight {
  width: 470px;
  float: right;
}

#speak {
  width: 450px;
  height: 350px;
  margin-bottom: 20px;
}

#speak #photo {
  float: left;
}

#speak #description {
  width: 315px;
  float: right;
}

#speak #description #title {
  background: #F1ECDE;
  height: 30px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

#speak #description #title h1 {
  font-size: 14px;
  color: #333;
  padding: 7px 0px 2px 10px;
  border: none;
  font-weight: bold;
  float: left;
}

#speak #description #title a img {
  float: right;
  position: relative;
  top: 7px;
  right: 7px;
}

#speak #description #text p {
  font-size: 12px;
  padding: 20px 40px 0 20px;
}

#speak #description #text li {
  font-size: 12px;
  color: #333;
  padding: 20px 40px 0 20px;
}

.talk .speaker {
  width: 480px;
  margin-bottom: 20px;
  float: right
}

.talk .speakerBar {
  width: 480px;
  float: right;
}

.talk .speaker #photo {
  float: left;
}

.talk .speaker #description {
  width: 345px;
  float: right;
}

.talk .speaker #description #title {
  background: #F1ECDE;
  height: 60px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.talk .speaker #description #title h1 {
  font-size: 14px;
  color: #333;
  padding: 7px 0px 2px 10px;
  border: none;
  font-weight: bold;
  float: left;
}

.talk .speaker #description #title a img {
  float: right;
  position: relative;
  top: 7px;
  right: 7px;
}

.talk .speaker #description #text p {
  padding: 20px 40px 0 20px;
}

.talk .speaker #description #text li {
  font-size: 20px;
  color: #333;
  padding: 20px 40px 0 20px;
}

.talk .subject {
  width: 480px;
  margin-bottom: 20px;
  float: left
}

.talk .subject .title {
  background: #F1ECDE;
  height: 60px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.talk .subject .title h1 {
  font-size: 14px;
  color: #333;
  padding: 7px 0px 2px 10px;
  border: none;
  font-weight: bold;
  float: left;
}

.talk .subject .text p {
  padding: 20px 40px 0 20px;
}

.talk .subject .text li {
  font-size: 14px;
  color: #333;
  padding: 20px 40px 0 20px;
}

#schedule {
  font-size: 13px;
  color: #333;
}

#schedule tr {
  height: 50px;
}

#schedule td {
  border-bottom: 1px dotted #333;
}

#schedule td.top {
  border-bottom: 2px solid #ccc;
}

#schedule td.top-end {
  border-bottom: 2px solid #ccc;
  border-right: 1px solid #ccc;
}

#schedule td.last {
  border: none;
}

#schedule tr.top {
  background: #F1ECDE;
}

#schedule p {
  font-size: 12px;
}

#schedule p a {
  text-decoration: none;
  font-size: 13px;
  color: #333;
  font-weight: bold;
}

#schedule p a:hover {
  color: #9F111B;
}

#schedule img.ical {
  float: right;
  position: relative;
  top: -32px;
}

#schedule p {
  padding: 0;
  margin: 0;
}

#schedule span.time {
  color: #9F111B;
  font-weight: bold;
}

#schedule .scheduleSelo {
  position: relative;
  float: left;
  top: -858px;
  left: 10px;
}

#container .carousel,
#container .carousel .carousel-wrap {
  margin: 0;
  border: 0;
  zoom: 0;
}

#container .js .carousel-wrap {
  display: inline-block;
  vertical-align: middle;
  width: 655px;
  margin: 0;
  border: 0;
  background: #1a1a1a;
}

.IE #container .js .carousel-wrap {
  display: inline;
}

#container .carousel ul {
  margin: 0;
  padding: 0;
  zoom: 0;
}

#container .js ul li {
  overflow: hidden;
  display: inline;
  float: left;
  width: 655px;
  height: 315px;
  text-align: center;
  zoom: 1;
}

#container .carousel .carousel-control {
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  cursor: pointer;
  line-height: 999px;
  zoom: 1;
  border: 0;
  text-indent: -9999px;
}

#container .carousel .carousel-next {
  display: none
}

#container .carousel .carousel-previous {
  display: none
}

#container .carousel .carousel-control:hover {
  -moz-opacity: .7;
  opacity: 0.70;
  filter: alpha(opacity=70);
}

#container .carousel .disabled,
#container .carousel .disabled:hover {
  -moz-opacity: .1;
  opacity: 0.10;
  filter: alpha(opacity=10);
  cursor: default;
}

#container .carousel div {
  margin: 0;
  padding: 0;
  border: 0;
}

#container .carousel ul {
  padding: 0;
  list-style: none;
}

#container .carousel ul li {
  position: relative;
  width: 655px;
  margin: 0;
}

#footer,
#footer p {
  font-size: 10px;
  color: #555;
  margin: 0 auto;
  text-align: center;
  width: 980px;
}

.addthis_toolbox {
  background-color: transparent;
  height: 30px !important;
  border: 0 !important;
  overflow: hidden !important;
  width: 400px;
  margin-bottom: 10px;
}

.addthis_toolbox table, .addthis_toolbox tr, .addthis_toolbox td {
  border: 0;
  margin: 0;
  padding: 0;
}

.addthis_toolbox td {
  width: 100px;
}

.pagamento {
  display: none;
}

#media {
  margin-top: 20px;
  margin-bottom: 20px;
}

#media #videos, #media #photos {
  margin-top: 20px;
  width: 490px;
  float: left;
}

#media #photos h1 {
  margin-top: 20px
}
