<div class="pagamentodigital">
  <!-- INÍCIO DO CÓDIGO PAGAMENTO DIGITAL cod. produto 311 -->
  <form id="formPagamento" name="pagamentodigital" action="https://www.pagamentodigital.com.br/checkout/pay/" method="post">
  <input name="email_loja" type="hidden" value="webstore.pagamentodigital@locaweb.com.br">
  <input name="produto_codigo_1" type="hidden" value="1103">
  <input name="produto_descricao_1" type="hidden" value="Inscrição Promocional RubyConf Brasil 2011">
  <input name="produto_qtde_1" type="hidden" value="1">
  <input name="produto_valor_1" type="hidden" value="200.00" >
  <input name="tipo_integracao" type="hidden" value="PAD">
  <input name="frete" type="hidden" value="0">
  <input type='hidden' value='true' name='redirect' />
  <input type='hidden' value='30' name='redirect_time' />
  <input type='hidden' value='http://www.rubyconf.com.br/br/registrated.html' name='url_retorno' />
  </form>
  <!-- FIM DO CÓDIGO PAGAMENTO DIGITAL cod. produto 311 -->
</div>
