<% @page_url = @config[:base_url] + normalize_identifier(@item) %>
<div class="addthis_toolbox addthis_toolbox addthis_default_style" style="width:<%= @size %>px !important;margin-top:20px">
  <!-- add to class addthis_button_twitter_follow_native if you want twitter defaults native button -->
  <!-- use this if you want to get use specific twitter things like tw: -->

  <!-- Ordered by current use and relevance -->
  <!-- Also, title tags work and addthis use as tooltip -->

  <a class="addthis_button_tweet" addthis:title="Titulo" addthis:description="Descricao"></a>
  <a class="addthis_button_facebook_like" fb:like:layout="button_count" addthis:title="Titulo" addthis:description="Descricao"></a>
  <a class="addthis_button_google_plusone" g:plusone:size="medium" addthis:title="Titulo" addthis:description="Descricao"></a>
  <a class="addthis_button_orkut" addthis:title="Titulo" addthis:description="Descricao"><img src="/images/share/orkut.png" width="20" height="20" border="0" alt="Orkut" /></a>
  <a class="addthis_button_email" addthis:title="Titulo" addthis:description="Descricao"><img src="/images/share/email.png" width="20" height="20" border="0" alt="Email" /></a>
  <a class="addthis_button_linkedin" addthis:title="Titulo" addthis:description="Descricao"><img src="/images/share/linkedin.png" width="20" height="20" border="0" alt="LinkedIn" /></a>
  <a class="addthis_counter addthis_pill_style" addthis:title="Titulo" addthis:description="Descricao"></a>

</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js"></script>
