        <div id="speak">
          <a name="<%= speaker[:slug] %>"></a>
          <div id="photo">
            <a href="/<%= @item[:locale] %><%= speaker[:talk_slug] %>"><img src="<%= speaker[:avatar_medium_url]%>" alt="<%= speaker[:full_name] %>" width="135" border="0"/></a>
          </div>
          <div id="description">
            <div id="title">
              <h1><%= speaker[:full_name] %></h1>
              <% unless speaker[:country] == "X" %>
              <a href="<%= speaker[:blog_url].empty? ? "" : "http://" + speaker[:blog_url] %>" rel="external"><img src="/images/flags/<%= speaker[:country] %>.png"/></a>
              <% end %>
              <% unless speaker[:twitter].empty? %>
              <a href="http://twitter.com/#/<%= speaker[:twitter] %>" title="<%= speaker[:full_name]%>" rel="external"><img src="/images/tweet-button.jpeg" alt="Twitter" title="<%= speaker[:full_name]%>" /></a>
              <% end %>
            </div>
            <div id="text">
              <p><%= speaker[:"bio_#{@item[:locale]}"] %></p>
              <p>&nbsp;</p>
            </div>
          </div>
        </div>
        <br class="clear" />
