    <div id="content">
      <div id="content"><!--INICIO CONTENT 3-->
        <div id="sponsors">
          <h1><img src="/images/medal.jpg" alt="" title="" class=""/><%= t("site.sponsors.ruby") %></h1>
          <a href="http://www.globo.com" title="globo" rel="external"><img src="/spons/globocom.png" title="globo.com" alt="globo.com"/></a>
          <a href="http://www.paypal.com.br" title="paypal" rel="external"><img src="/spons/paypal.jpg" title="paypal" alt="paypal"/></a>
          <a href="http://www.caelum.com.br" title="caelum" rel="external"><img src="/spons/logo_caelum.jpg" title="caelum" alt="caelum"/></a>
          <a href="http://www.dextra.com.br" title="dextra" rel="external"><img src="/spons/dextra.png" title="dextra" alt="dextra"/></a>
          <a href="http://www.gonow.com.br" title="gonow" rel="external"><img src="/spons/gonow.png" title="gonow" alt="gonow"/></a>
        </div>
        <br class="clear" />
        <div id="sponsors">
          <h1><img src="/images/medal.jpg" alt="" title="" class=""/><%= t("site.sponsors.platinum") %></h1>
          <div class="space"></div>
          <a href="http://rubycentral.org/" title="Ruby Central" rel="external"><img src="/spons/rubycentral.png" title="" alt=""/></a>
          <a href="http://www.groupon.com.br" title="Groupon" rel="external"><img src="/spons/groupon.png" title="" alt="" /></a>
          <a href="http://www.pusher.com" title="Pusher" rel="external"><img src="/spons/pusher.png" title="" alt="" /></a>
          <a href="http://garage.co.jp/en/" title="Digital Garage" rel="external"><img src="/spons/digital_garage.png" title="" alt="" /></a>
          <a href="http://cuboxsa.com/" title="Cubox" rel="external"><img src="/spons/cubox.png" title="" alt="" /></a>
          <br />
          <a href="http://www.codeminer42.com/" title="Codeminer42" rel="external"><img src="/spons/codeminer42.png" title="" alt="" /></a>
          <a href="http://safewlabs.com/" title="Safew Labs" rel="external"><img src="/spons/safewlabs.png" title="" alt=""/></a>
          <a href="http://www.thoughtworks.com/" title="ThoughtWorks" rel="external"><img src="/spons/tw.png" title="" alt="" /></a>
          <a href="http://www.eventials.com/" title="Eventials" rel="external"><img src="/spons/eventials.jpg" title="" alt="" /></a>
          <a href="http://www.svturismo.com.br/" title="S Vianna Turismo" rel="external"><img src="/spons/svianna.jpg" title="" alt="" /></a>
          <a href="http://grokpodcast.com/" title="Grok Podcast" rel="external"><img src="/spons/grokpodcast.png" title="" alt="" /></a>
        </div>
      </div>
    </div><!--FINAL CONTENT 3-->
