    <div id="content">
      <div id="content"><!--INICIO CONTENT 3-->
        <div id="sponsors">
          <h1><img src="/images/medal.jpg" alt="" title="" class=""/><%= t("site.sponsors.ruby") %></h1>
          <a href="http://www.abril.com.br/" title=""><img src="/spons/editora_abril.png" title="" alt="" /></a>
          <a href="http://www.gonow.com.br" title=""><img src="/spons/gonow.png" title="" alt="" class="lastImage"/></a>
        </div>
        <div id="platSponsors">
          <h1><img src="/images/medal.jpg" alt="" title="" class=""/><%= t("site.sponsors.platinum") %></h1>
          <div class="space"></div>
          <a href="http://www.groupon.com.br" title="Groupon"><img src="/spons/groupon.png" title="" alt="" /></a>
          <a href="http://www.cloudfoundry.com/" title="VMWare"><img src="/spons/vmware.png" title="" alt="" /></a>
          <a href="http://www.pusher.com" title="Pusher"><img src="/spons/pusher.png" title="" alt="" /></a>
          <a href="http://rubycentral.org/" title="Ruby Central"><img src="/spons/rubycentral.png" title="" alt=""/></a>
          <a href="http://garage.co.jp/en/" title="Digital Garage"><img src="/spons/digital_garage.png" title="" alt="" /></a>
          <a href="http://cuboxsa.com/" title="Cubox"><img src="/spons/cubox.png" title="" alt="" /></a>
          <a href="http://safewlabs.com/" title="Safew Labs"><img src="/spons/safewlabs.png" title="" alt=""/></a>
          <a href="http://www.thoughtworks.com/" title="ThoughtWorks"><img src="/spons/tw.png" title="" alt="" /></a>
        </div>
      </div>
    </div><!--FINAL CONTENT 3-->
