<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <meta property="og:title" content="Rubyconf Brasil 2011" />
  <meta property="og:type" content="activity" />
  <meta property="og:url" content="http://www.facebook.com/encontrolocaweb" />
  <meta property="og:image" content="http://rubyconf2011.akitaonrails.com/images/LogoRubyConf.jpg" />
  <meta property="og:site_name" content="Rubyconf Brasil 2011" />
  <meta property="fb:admins" content="638871523" />
  <% if @item[:locale] == :br %>
  <meta property="og:description" content="Chegamos à quarta edição da maior conferência de Ruby da América do Sul! O Rubyconf Brasil acontecerá nos dias 3 e 4 de Novembro, em São Paulo, inscreva-se já!"/>
  <% else %>
  <meta property="og:description" content="The 4th edition of the largest conference about Ruby in South America is coming! Rubyconf Brazil will take place on November 3 and 4, at São Paulo, Brazil. Register now!"/>
  <% end %>
  <title><%= t("site.title") %> <%= @item[:title] ? "- #{@item[:title]}" : "" %></title>
  <link href='/images/ico.ico' rel='shortcut icon' type='image/x-ico'/>
  <link href="/style/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div id="container">
    <div id="lenguage">
      <ul>
        <li><a href="<%= normalize_identifier(@item, :br) %>"<%= active_language(:br) %>>PT</a></li>
        <li>|</li>
        <li><a href="<%= normalize_identifier(@item, :en) %>"<%= active_language(:en) %>>EN</a></li>
      </ul>
    </div>
    <!-- end language? -->

    <br class="clear" />

    <div id="contHeader">
      <div class="logo">
        <a href="/<%= @item[:locale] %>/index.html" title="RubyConf Brasil, 2011">
          <img src="/images/LogoRubyConf.jpg" width="335" height="107" alt="RubyConf Brasil, 2011" title="RubyConf Brasil, 2011" />
        </a>
        <p><%= render '_share_buttons', :size => 465 %></p>
      </div>
      <!-- end logo -->
      <div class="speakers">
        <% random_speakers_list.each do |speaker| %>
        <a href="<%= "/#{@item[:locale]}#{speaker[:talk_slug]}" %>"><img src="<%= speaker[:avatar_thumb_url] %>" alt="Speaker/Palestrante" title="<%="#{speaker[:full_name]}, @#{speaker[:twitter]}"%>" width="49" height="49"/></a>
        <% end %>
      </div>
      <!-- end speaker -->
      <br class="clear" />
    </div>
    <!-- end final container header -->

    <div id="menu">
      <ul>
        <li><a href="/<%= @item[:locale] %>/index.html"<%= menu("home") %>><%= t("menu.home") %></a></li>
        <li><a href="/<%= @item[:locale] %>/venue.html"<%= menu("venue") %>><%= t("menu.venue") %></a></li>
        <li><a href="/<%= @item[:locale] %>/speakers.html"<%= menu("speakers") %>><%= t("menu.speakers") %></a></li>
        <li><a href="/<%= @item[:locale] %>/schedule.html"<%= menu("schedule") %>><%= t("menu.schedule") %></a></li>
        <li><a href="/<%= @item[:locale] %>/about.html"<%= menu("about") %>><%= t("menu.about") %></a></li>
        <% if @item[:locale] == :br %>
        <li><a href="javascript:jQuery('#formPagamento').submit()" class="linkTicket" rel="external"><%= t("menu.register") %></a></li>
        <% else %>
        <li><a href="https://www.facebook.com/EventosLocaweb?sk=app_203351739677351#" class="linkTicket" rel="external"><%= t("menu.register") %></a></li>
        <% end %>
      </ul>
    </div>
    <!-- end menu-->
    </div>
    <!-- end container-->
    <div id="background">
      <div id="container">
        <%= yield %>
        <br class="clear" />
        <%= render '_sponsors' %>
      </div>
      <!-- end final container -->
      <br class="clear" />
      <div class="finalPage"></div>
    </div>
    <!-- end final background -->
    <div id="footer">
      <% if @item[:locale] == :br %>
      <p>Copyright © 1997-2011 Locaweb Serviços de Internet S/A. Todo o conteúdo deste site é de uso exclusivo da Locaweb.
        Proibida reprodução ou utilização a qualquer título, sob as penas da lei.</p>
      <% else %>
      <p>Copyright © 1997-2011 Locaweb Serviços de Internet S/A. The entire content of this website is exclusive property of Locaweb. Reproduction or reuse under any circumstance is prohibited by law.</p>
      <% end %>
    </div>
    <%= render '_pagamentodigital' %>
    <%= render '_javascript' %>
    </body>
    </html>

