<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><%= t("site.title") %> <%= @item[:title] ? "- #{@item[:title]}" : "" %></title>
  <link href='/images/ico.ico' rel='shortcut icon' type='image/x-ico'/>
  <link href="/style/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="container"><!--INICIO CONTAINER-->
  <div id="lenguage"><!--INICIO LENGUAGE-->
     <ul>
       <li><a href="/br/index.html"<%= active_language(:br) %>>PT</a></li>
       <li>|</li>
       <li><a href="/en/index.html"<%= active_language(:en) %>>EN</a></li>
     </ul>
  </div><!--FINAL LENGUAGE-->
  <!--CLEAR--><div class="clear"></div>
  <div id="contHeader"><!--INICIO CONTAINER HEADER-->
    <div id="logo"><!--INICIO LOGOTIPO-->
      <img src="/images/LogoRubyConf.jpg" alt="" title="" />
    </div><!--FINAL LOGOTIPO-->
    <div id="speakers"><!--INICIO SPEAKER-->
    </div><!--FINAL SPEAKER-->
  </div><!--FINAL CONTAINER HEADER-->
  <div id="menu"><!--INICIO MENU-->
    <ul>
      <li><a href="/<%= @item[:locale] %>/index.html"<%= menu("home") %>><%= t("menu.home") %></a></li>
      <li><a href="/<%= @item[:locale] %>/venue.html"<%= menu("venue") %>><%= t("menu.venue") %></a></li>
      <li><a href="/<%= @item[:locale] %>/speakers.html"<%= menu("speakers") %>><%= t("menu.speakers") %></a></li>
      <li><a href="/<%= @item[:locale] %>/schedule.html"<%= menu("schedule") %>><%= t("menu.schedule") %></a></li>
      <li><a href="/<%= @item[:locale] %>/about.html"<%= menu("about") %>><%= t("menu.about") %></a></li>
      <li><a href="/<%= @item[:locale] %>/sponsor.html"<%= menu("sponsor") %>><%= t("menu.sponsor") %></a></li>
      <li><a href="/<%= @item[:locale] %>/getticket.html" class="linkTicket"><%= t("menu.register") %></a></li>
    </ul>
  </div><!--FINAL MENU-->
</div><!--FINAL CONTAINER-->
<div id="background"><!--INICIO BACKGROUND-->
  <div id="container">
    <%= yield %>
    <!--CLEAR--><div class="clear"></div>
    <%# render '_sponsors' %>
  </div><!--FINAL CONTAINER-->
  <!--CLEAR--><div class="clear"></div>
  <div class="finalPage"></div>
</div><!--FINAL BACKGROUND-->
<div id="footer">
  <p>Copyright © 1997-2011 Locaweb Serviços de Internet S/A. Todo o conteúdo deste site é de uso exclusivo da Locaweb.
    Proibida reprodução ou utilização a qualquer título, sob as penas da lei.</p>
</div>
<%= render '_javascript' %>
</body>
</html>

